<ion-view>
	<ion-header-bar class="item-input-inset" align-title="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	    <h1 class="title" style="text-align:center">Deploy File</h1>
		<button class="button button-clear button-positive" ng-click="save()">{{'save' | translate}}</button>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			
			<label class="item item-input">
				Please select file: 
				<button type="file" class="button" ngf-select="putfile($file)" 
					ngf-max-files="1" ngf-max-size="2MB">
	    			<i class="icon ion-paperclip"></i>
	    		</button>
	    	</label>
							
		</div>
	</ion-content>
</ion-view>