<ion-content >	
	<ion-list>
	
	<ion-item 
	ng-repeat="model in collection.models | orderBy:'- deploymentTime' " 
	ng-click="getFile(model)"
	item="item" class="item-avatar">
          
		<i class="item-image icon-circle activitiIcon ion-ios-people"></i>
		<h2>{{model.definition.name}}</h2>
		<p>v{{model.definition.version}}, {{ model.deploymentTime | date: 'dd-MM-yyyy HH:mm' }}, {{ model.createdBy}}</p>
	<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model);">{{'delete' | translate}}</ion-option-button>		
	</ion-item>	
	
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>	
</ion-content>